.taskCard {
    padding: 15px;
    width: 95%;
    background-color: #ffffff;
    box-sizing: border-box;
    margin: 15px auto;
    color: 000 !important;
    border-radius: 10px;
    border: none;
    cursor:grab;
    position: relative;
    animation: fadeIn .3s ease-in-out;
    font-size: 1.6vmin;
    line-height: 1.6vmin;
}
.taskCard span {
    font-size: 2vmin;
    position: absolute;
    right: 1vmin;
    top: 50%;
    transform: translate(0,calc(-50% - 2px));
    cursor: pointer;
}
.taskCard span:hover {
    color: red;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }

  100% {
    opacity: 1;
    transform: translateY(0)
  }
}